.footer{
    background: #000;
    padding: 60px 0px 20px;
    color: #8a8a8a;
    font-size: 14px;
}
.footer .row{
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
}
p{
    color: #8a8a8a;
}
.footer h3{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.footer h1{
    color: white;
    font-family: fantasy;
}
.footer_col_1,.footer_col_2,.footer_col_3,.footer_col_4{
    min-width: 250px;   
    margin-bottom: 20px;
}
.footer_col_1{
    flex-basis: 30%;
}
.footer_col_2{
    flex: 1;
    text-align: center;
}
.footer_col_3,.footer_col_4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
ul li{
        margin-right: 25px;
}
.linkText{
    text-decoration: none;
    color: white;
}
.app_logo i{
    margin : 0px 10px 20px;
}
hr{
    color: white;
    height: 2px;
}
.copyright{
    text-align: center;
}
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
}