.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    text-align: right;
    flex: 1 1;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.linktext{
    text-Decoration: none;
    color: #555;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
h3{
    font-family: fantasy;
}
.menuIcon{
    font-size: 27px;
    display: none;
}
