.single_product{
    margin-top: 80px;
}
h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
img{
    padding: 0px;
}
.small_img{
    box-shadow: 0px 0px 20px;
    height: 100px;
    margin-top: 50px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col_2{
    padding: 20px;
    flex-basis: 50%;
    min-width: 300px;
}
h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.small_img_row{
    display: flex;
    justify-content: space-between;
}
.small_img_col{
    flex-basis: 24%;
    cursor: pointer;
}
p{
    font-size: 15px;
    padding: 0px;
}